.ant-btn-primary {
    margin-top: 20px;
    margin-bottom: 20px
}

.search-box {
    padding: 8px;
}

.search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
}

.search-box button {
    width: 90px;
}

.search-button {
    margin-right: 8px;
}

.editable-row-operations {
    width: 40%;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    border: 1px solid #85f185;
    border-radius: 4px;
    background-color: #85F10F;
}

.editable-row-operations a,
.dele a {
    color: #0a2b22;
    margin-right: 8px;
}

.dele {
    width: 34%;
    display: inline-block;
    text-align: center;
    border: 1px solid #EF2720;
    border-radius: 4px;
    background-color: #EF2720;
}